*{
    box-sizing: border-box;
    padding:3px;
}


/* this is a css comment */
h1, h2, h3, h4, h5 {
    justify-content: space-around;
    color: rgb(49, 13, 255);
    font-size: 50px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(255, 255, 255);
    border-style: double;
    border-radius: 30%;


}

/* this is how you target an element within our html */

.nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(17, 17, 177);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-style: double;
    border-width:2px;
    padding:20px;
    
}

.nav a{
    color:rgb(255, 255, 255)
}

.nav a:hover{
    color:chocolate
}

#Woof{
    size: 30px;
}

#Working Dogs{
    size: 30px;
}

#Wolves{
    size: 30px;
}

body {
    background-color:rgb(185, 199, 185);
    background-image:url(paw_prints.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align:center;
}

img {
    display: flex;
    text-align: center;
    justify-content: center;
    width:80%;
    margin-left:11%;
    border-radius:30%;

    
   
}


p {

    justify-content:center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: rgb(12, 14, 117);
    padding: 3%;
    
}